<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>C:\Users\d32222\.m2</localRepository>
<proxies>
<proxy>
<id>bp2s-proxy</id>
<host>ncproxy</host>
<port>8080</port>
<nonProxyHosts>titv*|testv*|*.is.echonet|*.net.intra</nonProxyHosts>
</proxy>
</proxies>
<mirrors>
<mirror>
<id>bp2s-release</id>
<name>BP2S Nexus Public Mirror</name>
<url>
http://nexus-bp2s.is.echonet/content/repositories/bp2s-public-releases/
</url>
<mirrorOf>central</mirrorOf>
</mirror>
</mirrors>
<profiles>
<profile>
<id>bp2s</id>
<repositories>
<repository>
<id>bp2s-coo-releases</id>
<url>
https://nexus-bp2s.is.echonet/content/repositories/bp2s-coo-releases/
</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>false</enabled>
</snapshots>
</repository>
<repository>
<id>bp2s-coo-snapshots</id>
<url>
https://nexus-bp2s.is.echonet/content/repositories/bp2s-coo-snapshots/
</url>
<releases>
<enabled>false</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
<repository>
<id>bp2s-public-releases</id>
<url>
https://nexus-bp2s.is.echonet/content/repositories/bp2s-public-releases/
</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>false</enabled>
</snapshots>
</repository>
<repository>
<id>bp2s-public-snapshots</id>
<url>
https://nexus-bp2s.is.echonet/content/repositories/bp2s-public-snapshots/
</url>
<releases>
<enabled>false</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
</repositories>
</profile>
</profiles>
<activeProfiles>
<activeProfile>bp2s</activeProfile>
</activeProfiles>
</settings>